<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <!-- Required meta tags -->
    <title>자바민국 커뮤니티</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-xl-start mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">홈</a></li>
                <li><a href="/board" class="nav-link px-2 text-white">게시판</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end my-2">
                <form th:action="@{'member/signIn'}" sec:authorize="isAnonymous()">
                <button type="submit" class="btn btn-outline-light me-2">로그인</button>
                </form>
            </div>
            <div class="my-2">
                <form th:action="@{'/member/signUp'}" sec:authorize="isAnonymous()">
                <button type="submit" class="btn btn-warning" sec:authorize="isAnonymous()">회원가입</button>
                </form>
            </div>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
            <div class="my-2">
                <form th:action="@{'/board/mypost'}" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-warning">내 게시물 보기</button>
                </form>
            </div>
        </div>
    </div>
</header>